<h1> 'This is the PI wemo sinatra app' </h1>
<h3> Switch </h3>
<% if get_status %> 
<p> Status: Switch is on</p>
<%else%>
<p> Status: Switch is off</p>
<%end%>
<ul> 
	<li> <a href="/on"> on </a></li>
	<li> <a href="/off"> off </a></li>
</ul>